<!--
{% block breadcrumb %}
	<li><a href="{% url 'budget:category' category.id %}">{{ category.name }}</a></li>
{% endblock %}-->

<div class="row">
	<div class="col-xs-12">
		<h2 ng-show="add_mode">Add New Category</h2>
		<h2 ng-hide="add_mode">Edit {{category.name}} Category</h2>
		<small ng-hide="add_mode">All changes are automatically saved.</small>
		<br /><br />
	</div>
</div>
<div class="row">
	<div class="col-xs-3">
		<div class="form-group" >
			<label for="id_name">Name:</label>
			<input type="text" ng-model="category.name" name="name" maxlength="200" id="id_name" class="form-control">
		</div>
		<p ng-show="err" class="error">{{err}}</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-1">
		<button class="btn btn-primary" ng-click="saveCategory(category)" ng-show="add_mode" ng-disabled="category.name == undefined || category.name == ''">Save</button>
		<a class="btn btn-primary" href="javascript:history.go(-1);" ng-hide="add_mode">Go Back</a>
	</div>
	<div class="col-xs-1">
		<div class="form-group">
			<button class="btn btn-danger" ng-click="deleteCategory()">Delete</button>
		</div>
	</div>
</div>
