<!--{% block breadcrumb %}
	<li><a href="{% url 'budget:alltransactions' %}">All Transactions</a></li>
	<li><a href="{% url 'budget:addtransactions' %}" class="strikethrough">Add Transactions</a></li>
	<li><a href="{% url 'budget:category' account.category.id %}">{{ account.category.name }}</a></li>
	<li class="active"><a href="{% if month_persist %}{% url 'budget:account' account.id month year %}{% else %}{% url 'budget:account' account.id %}{% endif %}">{{ account.name }}</a></li>
{% endblock %}-->

<div class="row">
	<div class="col-xs-9">
		<h2>Fund Allocation</h2>
		<br />
		<table class="table" ng-show="">
		<tr><th>Account</th><th>Current Allocation</th></tr>
		<tr ng-repeat="sub in subaccounts">
			<td><a href="#/account/{{sub.$id}}">{{ sub.name }}</a></td><td>${{ sub.balance }}</td>
		</tr>
		<tr><td><strong>Unallocated Balance:</strong></td><td>${{ account.balance }}</td>
		<tr><td><strong>Total Balance:</strong></td><td>${{ total_balance }}</td>
		</table>
		
		<h2>Transactions for {{account.name}}</h2>
		<small>All changes are automatically saved.</small>
		<br />
		<table class="table">
		<tr><th>Date</th><th>Account</th><th>Deposit</th><th>Withdrawal</th><th>Memo</th><th>Edit</th></tr>
		<!--{% for t in transactions %}
			<tr><td>{{ t.date }}</td>
			{% if t.to_account|cut:" " == account.name|cut:" " %}
				<td><a href="{% url 'budget:account' t.from_account.id %}">{{ t.from_account }}</a></td><td>${{ t.amount }}</td><td></td>
			{% else %}
				<td><a href="{% url 'budget:account' t.to_account.id %}">{{ t.to_account }}</a></td><td></td><td>${{ t.amount }}</td>
			{% endif %}
			<td>{{ t.memo }}</td>
			<td><a href="{% url 'budget:transaction' t.id account.id %}">Edit</a></td></tr>
		{% endfor %}-->
		<tr><td></td><td><strong>Monthly Balance:</strong></td><td>${{balance}}</td><td colspan="3"></td></tr>
		<tr><td></td><td><strong>Overall Balance:</strong></td><td>$<input type="text" ng-model="account.balance" /></td>
			<td><strong>Goal:</strong></td><td>$<input type="text" ng-model="account.goal" /></td><td></td></tr>
		<tr><td colspan="6">{{originalCategory}}</td></tr>
		</table>
	</div>
	<div class="col-xs-3 text-center">
		<div class="row">
			<div class="col-xs-12">
				<h3>Select Date</h3>
				<!--{% include "budget/month_selection.html" %}-->
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-xs-12">
				<a href="#" ng-show="category.type === 'bank'" class="btn btn-success">Transfer Funds</a>
				<a href="#" ng-hide="category.type === 'bank'" class="btn btn-success">Add New Transaction</a>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-xs-12">
				<a href="#/account/{{account.$id}}/edit" class="btn btn-warning">Edit Account</a>
			</div>
		</div>
		<br />
		<div class="row" ng-show="canAddSub">
			<div class="col-xs-12">
				<a href="#/account/add?cid={{category.$id}}&aid={{account.$id}}&type={{category.type}}" class="btn btn-info">Add Sub-account</a>
			</div>
		</div>
		<br />
		<!--<div class="row">
			<div class="col-xs-12">
				<a href="{% url 'budget:deleteaccount' account.id %}" class="btn btn-danger">Delete Account</a>
			</div>
		</div>
		<br />-->
	</div>
</div>
