<!--{% block breadcrumb %}
	<li><a href="{% url 'budget:alltransactions' %}">All Transactions</a></li>
	<li><a href="{% url 'budget:addtransactions' %}" class="strikethrough">Add Transactions</a></li>
	<li><a href="{% url 'budget:category' account.category.id %}">{{ account.category.name }}</a></li>
	<li class="active"><a href="{% if month_persist %}{% url 'budget:account' account.id month year %}{% else %}{% url 'budget:account' account.id %}{% endif %}">{{ account.name }}</a></li>
{% endblock %}-->

<div class="row">
	<div class="col-xs-9">
		<div id="subAccounts" ng-show="showSubAccounts">
			<h2>Fund Allocation</h2>
			<br />
			<table class="table">
			<tr><th>Account</th><th>Current Allocation</th></tr>
			<tr ng-repeat="sub in subaccounts">
				<td><a href="#/account/{{sub.$id}}">{{ sub.name }}</a></td><td>${{ sub.balance }}</td>
			</tr>
			<tr><td><strong>Unallocated Balance:</strong></td><td>${{ account.balance }}</td>
			<tr><td><strong>Total Balance:</strong></td><td>${{ total_balance }}</td>
			</table>
		</div>
		<h2>Transactions for {{account.name}}</h2>
		<small>All changes are automatically saved.</small>
		<br />
		<table class="table">
		<tr><th>Date</th><th>Account</th><th>Deposit</th><th>Withdrawal</th><th>Memo</th><th>Edit</th></tr>
		
			<tr ng-repeat="t in transactions">
				<td>{{t.date|date: 'MMM d, y'}}</td>
				<td><a href="#/account/{{t.accountid}}">{{t.account}}</a></td>
				<td>{{t.deposit}}</td>
				<td>{{t.withdrawal}}</td>
				<td>{{t.memo}}</td>
				<td><a href="#/transaction/{{t.id}}/edit">Edit</a></td>
			</tr>
		
		<tr><td></td><td><strong>Monthly Balance:</strong></td><td>${{monthBalance}}</td><td colspan="3"></td></tr>
		<tr><td></td><td><strong>Overall Balance:</strong></td><td>${{account.balance}}</td>
			<td><strong>Goal:</strong></td><td>${{account.goal}}</td><td></td></tr>
		<tr><td colspan="6">{{originalCategory}}</td></tr>
		</table>
	</div>
	<div class="col-xs-3 text-center">
		<div class="row">
			<div class="col-xs-12">
				<month-selection mode="Flat" on-date-selected="updateBackingTransactions(newDate)"></month-selection>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-xs-12">
				<a href="#/transaction/add" ng-show="category.type === 'bank'" class="btn btn-success">Transfer Funds</a>
				<a href="#/transaction/add?aid={{account.$id}}" ng-hide="category.type === 'bank'" class="btn btn-success">Add New Transaction</a>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-xs-12">
				<a href="#/account/{{account.$id}}/edit" class="btn btn-warning">Edit Account</a>
			</div>
		</div>
		<br />
		<div class="row" ng-show="canAddSub">
			<div class="col-xs-12">
				<a href="#/account/add?cid={{category.$id}}&aid={{account.$id}}&type={{category.type}}" class="btn btn-info">Add Sub-account</a>
			</div>
		</div>
		<br />
		<!--<div class="row">
			<div class="col-xs-12">
				<button class="btn btn-danger" ng-click="deleteAccount()">Delete Account</button>
			</div>
		</div>
		<br />-->
	</div>
</div>
