<div class="row">
	<div class="col-xs-12">
		<h2>Add New Account Under {{ category.name }}</h2>
		<br /><br />
	</div>
</div>
<div class="row">
	<div class="col-xs-3">
		<form role="form">
			<div class="form-group" >
				<label for="id_name">Name:</label>
				<input type="text" ng-model="account.name" name="name" maxlength="200" id="id_name" class="form-control">
			</div>
			<div class="form-group">
				<button class="btn btn-primary" ng-click="saveAccount(account)" ng-disabled="account.name === undefined || account.name === ''">Save</button>
			</div>
			<p ng-show="err" class="error">{{err}}</p>
		</form>
	</div>
</div>


