<!--{% block breadcrumb %}
	<li><a href="{% url 'budget:category' account.category.id %}">{{ account.category.name }}</a></li>
	<li><a href="{% url 'budget:account' account.id %}">{{ account.name }}</a></li>
{% endblock %}-->

<div class="row">
	<div class="col-xs-12">
		<h2>New Purchase under {{ account.name }}</h2>
		<br /><br />
	</div>
</div>
<div class="row">
	<div class="col-xs-3">
		<form role="form">
			<div class="form-group">
				<label for="id_date">Date:</label>
				<input type="date" id="id_date" name="date" class="form-control" ng-model='transaction.date' placeholder="yyyy-mm-dd" min="2011-01-01" max="2020-12-31"/>
			</div>
			<div class="form-group">
				<label for="id_from_account">From:</label>
				<select id="id_from_account" ng-model="transaction.accounts.from" ng-options="acct.$id as acct.name for acct in bankAccounts" class="form-control"></select>
			</div>
			<div class="form-group">
				<label for="id_memo">Memo:</label>
				<input type="text" ng-model="transaction.memo" name="name" maxlength="300" id="id_memo" class="form-control">
			</div>
			<div class="form-group">
				<label for="id_amount">Amount Charged:</label>
				<input id="id_amount" type="number" step="0.01" name="amount" class="form-control" ng-model="transaction.amount" />
			</div>
			<div class="form-group">
				<button class="btn btn-primary" ng-click="saveTransaction()">Save</button>
			</div>
		</form>
	</div>
</div>