<!--{% block breadcrumb %}
	<li><a href="{% url 'budget:category' category.id %}">{{ category.name }}</a></li>
	<li class="active"><a href="{% url 'budget:account' account.id %}">{{ account.name }}</a></li>
{% endblock %}-->

<div class="row">
	<div class="col-xs-12">
		<h2>Edit {{account.name}} Account</h2>
		<small>All changes are automatically saved.</small>
		<br /><br />
	</div>
</div>
<div class="row">
	<div class="col-xs-3">
		<div class="form-group">
			<label for="id_name">Name:</label>
			<input type="text" name="name" maxlength="200" id="id_name" class="form-control" ng-model="account.name" />
		</div>
		<div class="form-group">
			<label for="id_category">Category:</label>
			<select id="id_category" ng-model="account.category.id" ng-change="changeCategory()" ng-options="cat.$id as cat.name group by cat.type for cat in categories" class="form-control"></select>
		</div>
		<div class="form-group">
			<label>Parent Account:</label>
			{{parentAccount.name}}
		</div>
		<div class="form-group">
			<label for="id_balance">Current Balance ($):</label>
			<input id="id_balance" type="number" step="0.01" name="balance" class="form-control" ng-model="account.balance" />
		</div>
		<div class="checkbox">
			<label> 
				<input type="checkbox" name="goal_account" id="id_goal_account" ng-model="account.goal_account"> Will this be a goal account?
			</label>
		</div>
		<div class="form-group">
			<label for="id_goal">End Goal ($):</label> 
			<input type="number" step="0.01" name="goal" id="id_goal" class="form-control" ng-model="account.goal">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-1">
		<a class="btn btn-primary" href="javascript:history.go(-1);">Go Back</a>
	</div>
	<div class="col-xs-1">
		<div class="form-group">
			<button class="btn btn-danger" ng-click="deleteAccount()">Delete</button>
		</div>
	</div>
</div>
	<!--<script type="text/javascript">
		jQuery(function($){
			$('#id_goal_account').click(function(){
				if ($(this).prop('checked') == true){
					$('#id_goal').prop('disabled', false);
				}
				else{
					$('#id_goal').val(0);
					$('#id_goal').prop('disabled', true);
				}
			});
			
			$('#id_category').click(function(){
				if ($(this).val() == 2){
					$('#id_parent_account').prop('disabled', false);
				}
				else{
					$('#id_parent_account').val('');
					$('#id_parent_account').prop('disabled', true);
				}
			});
			
			$('#id_category').trigger('click');
		});
	</script>-->