<tr><td>{{acct.name}}<!--<a href="{% if month_persist %}{% url 'budget:account' acct.acct.id month year%}{% else %}{% url 'budget:account' acct.acct.id %}{% endif %}">{{ acct.acct.name }}</a>--></td>
<td id="proj_{{acct.$id}}" class="no-right-border"><!--${{ acct.pred }}--></td>
<!--<td id="proj_text_{{acct.acct.id}}" class="change-projection-text no-right-border">
	$<input type="number" step="0.01" id="proj_input_{{ acct.acct.id }}" size="5"></td>-->
<td class="no-left-border text-right"><!--<a href="#" class="change-projection-link" id="link_{{ acct.acct.id }}">Edit</a>--></td>
<td class="no-right-border"><!--${{ acct.act }}--></td>
<td class="no-left-border text-right"><!--<a href="{% url 'budget:addtransaction' acct.acct.id %}">Add</a>--></td>
<td id="diff_{{acct.$id}}"><!--${{ acct.diff }}--></td>
<td><!--<a href="{% url 'budget:editaccount' acct.acct.id %}" class="account-edit-link">Edit Account</a> / 
	<a href="{% url 'budget:deleteaccount' acct.acct.id %}" class="account-delete-link">Delete Account</a>--></td>
</tr>