<div class="text-center">
	<div id="landingJumbo" class="jumbotron">
		<h1>Welcome to the Budget Tracker</h1>
	</div>
	<div class="row">
		<div class="col-xs-offset-1 col-xs-2 form-group"><h2>Income</h2></div>
		<div class="col-xs-2 form-group"><h2>Monthly</h2></div>
		<div class="col-xs-2 form-group"><h2>Yearly</h2></div>
		<div class="col-xs-2 form-group"><h2>Bank</h2></div>
		<div class="col-xs-2 form-group"><h2>Admin</h2></div>
	</div>
	<div class="row">
		<div class="col-xs-offset-1 col-xs-2 form-group"><a class="btn btn-success btn-lg col-xs-12" ui-sref='paycheck'>Paycheck Allocation</a></div>
		<div class="col-xs-2 form-group"><a class="btn btn-success btn-lg col-xs-12 disabled">Add Transaction</a></div>
		<div class="col-xs-2 form-group"><a class="btn btn-success btn-lg col-xs-12 disabled">Add Transaction</a></div>
		<div class="col-xs-2 form-group"><a class="btn btn-success btn-lg col-xs-12 disabled">Transfer Funds</a></div>
		<div class="col-xs-2 form-group"><a class="btn btn-success btn-lg col-xs-12 disabled">Add Account</a></div>
	</div>
	<div class="row">
		<div class="col-xs-offset-1 col-xs-2 form-group"></div>
		<div class="col-xs-2 form-group"><a class="btn btn-success btn-lg col-xs-12 disabled">View Budget</a></div>
		<div class="col-xs-2 form-group"><a class="btn btn-success btn-lg col-xs-12 disabled">View Budget</a></div>
		<div class="col-xs-2 form-group"><a class="btn btn-success btn-lg col-xs-12 disabled">Add Other Income</a></div>
		<div class="col-xs-2 form-group"><a class="btn btn-success btn-lg col-xs-12 disabled">Deactivate Account</a></div>
	</div>
	<div class="row">
		<div class="col-xs-offset-1 col-xs-2 form-group"></div>
		<div class="col-xs-2 form-group"><a class="btn btn-success btn-lg col-xs-12 disabled">View Cash Flow</a></div>
		<div class="col-xs-2 form-group"><a class="btn btn-success btn-lg col-xs-12 disabled">View Cash Flow</a></div>
		<div class="col-xs-2 form-group"><a class="btn btn-success btn-lg col-xs-12 disabled">Add Other Transaction</a></div>
		<div class="col-xs-2 form-group"><a class="btn btn-success btn-lg col-xs-12 disabled">Edit Account</a></div>
	</div>
	<div class="row">
		<div class="col-xs-offset-1 col-xs-2 form-group"></div>
		<div class="col-xs-2 form-group"></div>
		<div class="col-xs-2 form-group"></div>
		<div class="col-xs-2 form-group"></div>
		<div class="col-xs-2 form-group"><a class="btn btn-success btn-lg col-xs-12 disabled">Merge Accounts</a></div>
	</div>
</div>