{% extends "budget/base.html" %}

{% block breadcrumb %}
	<li><a href="{% url 'budget:category' category.id %}">{{ category.name }}</a></li>
	<li><a href="{% url 'budget:account' parent_account.id %}">{{ parent_account.name }}</a></li>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<h2>New Sub-Account Under {{ parent_account.name }}</h2>
			<br /><br />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			{% if error_message %}<p>{{ error_message }}</p>{% endif %}
			<form role="form" action="{% url 'budget:addsubaccount' parent_account.id %}" method="post">
				{% csrf_token %}
				<div class="form-group">
					<label for="id_name">Name:</label>
					<input type="text" name="name" maxlength="200" id="id_name" class="form-control">
				</div>
				<div class="form-group">
					<label for="id_balance">Starting Balance:</label> 
					<input type="number" step="0.01" name="balance" id="id_balance" class="form-control" value="0.00">
				</div>
				<input type="hidden" name="parent_account" value="{{ parent_account.id }}">
				<input type="hidden" name="category" value="{{ category }}">
				<div class="checkbox">
					<label> 
						<input type="checkbox" name="goal_account" id="id_goal_account" checked="checked"> Will this be a goal account?
					</label>
				</div>
				<div class="form-group">
					<label for="id_goal">Goal:</label> 
					<input type="number" step="0.01" name="goal" id="id_goal" class="form-control" value="0">
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-primary" value="Save" />
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		jQuery(function($){
			$('#id_goal_account').click(function(){
				if ($(this).prop('checked') == true){
					$('#id_goal').prop('disabled', false);
				}
				else{
					$('#id_goal').val(0);
					$('#id_goal').prop('disabled', true);
				}
			});
		});
	</script>
{% endblock %}
