<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/budget/css/style.css" />
    <link rel="stylesheet" href="/static/budget/css/bootstrap.min.css" />
    <title>{% block title %}Budget Tracker{% endblock %}</title>
</head>

<body>
	<div id="topmenu">
	{% block menu %}
	<nav class="navbar navbar-default navbar-inverse" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="{% url 'budget:index' %}">Budget Tracker</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
		  {% block breadcrumb %}
		  {% endblock %}
		</ul>
		{% comment %}<ul class="nav navbar-nav navbar-right">
		  <li><a href="#">Link</a></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
			<ul class="dropdown-menu">
			  <li><a href="#">Action</a></li>
			  <li><a href="#">Another action</a></li>
			  <li><a href="#">Something else here</a></li>
			  <li class="divider"></li>
			  <li><a href="#">Separated link</a></li>
			</ul>
		  </li>
		</ul>
		<form class="navbar-form navbar-right" role="search">
		  <div class="form-group">
			<input type="text" class="form-control" placeholder="Search">
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>{% endcomment %}
	  </div><!-- /.navbar-collapse -->
	</nav>
	{% comment %}<ul class="nav nav-pills">
	  <a class="navbar-brand" href="#">Budget Tracker</a>
	  <li class="active"><a href="#">Home</a></li>
	  <li><a href="#">Profile</a></li>
	  <li><a href="#">Messages</a></li>
	</ul>{% endcomment %}

	{% endblock %}
	</div>
	  
	<div id="content" class="container">
		{% if error %}
			<div class="row">
			<div class="error col-xs-12">{{ error }}</div>
			</div>
		{% endif %}
		
		{% block content %}
		{% endblock %}
	</div>
	
    <script src="/static/budget/js/jquery.min.js" type="text/javascript"></script>
	<script src="/static/budget/js/bootstrap.min.js" type="text/javascript" ></script>
	{% block javascript %}{% endblock %}
</body>
</html>
