{% extends "budget/base.html" %}

{% block breadcrumb %}
	<li><a href="{% url 'budget:category' category.id %}">{{ category.name }}</a></li>
	<li class="active"><a href="{% url 'budget:account' account.id %}">{{ account.name }}</a></li>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<h2>Edit "{{ account.name }}" Account</h2>
			<br /><br />
		</div>
	</div>
	{% if error %}
	<div class="row">
		<div class="col-xs-12 error">
			{{ error }}
		</div>
	</div>
	{% endif %}
	<div class="row">
		<div class="col-xs-3">
			{% if error %}<p>{{ error }}</p>{% endif %}
			<form role="form" action="{% url 'budget:editaccount' account.id %}" method="post">
				{% csrf_token %}
				<div class="form-group">
					<label for="id_name">Name:</label>
					<input type="text" name="name" maxlength="200" id="id_name" class="form-control" value="{{ account.name }}">
				</div>
				<div class="form-group">
					<label for="id_category">Category:</label>
					{{ form.category }}
				</div>
				<div class="form-group">
					<label for="id_parent_account">Make this account a subset of </label>
					{{ form.parent_account }}
				</div>
				<div class="form-group">
					<label for="id_balance">Current Balance ($):</label>
					<input id="id_balance" type="number" step="0.01" name="balance" class="form-control" value="{{ account.balance }}">
				</div>
				<div class="checkbox">
					<label> 
						{{ form.goal_account }} Will this be a goal account?
					</label>
				</div>
				<div class="form-group">
					<label for="id_goal">End Goal ($):</label> 
					<input type="number" step="0.01" name="goal" id="id_goal" class="form-control" value="{{ account.goal }}">
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-primary" value="Save" />
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		jQuery(function($){
			$('#id_goal_account').click(function(){
				if ($(this).prop('checked') == true){
					$('#id_goal').prop('disabled', false);
				}
				else{
					$('#id_goal').val(0);
					$('#id_goal').prop('disabled', true);
				}
			});
			
			$('#id_category').click(function(){
				if ($(this).val() == 2){
					$('#id_parent_account').prop('disabled', false);
				}
				else{
					$('#id_parent_account').val('');
					$('#id_parent_account').prop('disabled', true);
				}
			});
			
			$('#id_category').trigger('click');
		});
	</script>
{% endblock %}