<div id="year-select">
	<a id="year-decrease"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<b>{{ year }}</b>
	<a id="year-increase"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<div id="month-buttons">
	<input type="hidden" id="start-month" value="{{ month }}">
	<div class="btn-group-vertical" data-toggle="button">
		<button type="button" id="Jan" class="btn btn-primary">Jan</button>
		<button type="button" id="May" class="btn btn-primary">May</button>
		<button type="button" id="Sep" class="btn btn-primary">Sep</button>
	</div>
	<div class="btn-group-vertical" data-toggle="button">
		<button type="button" id="Feb" class="btn btn-primary">Feb</button>
		<button type="button" id="Jun" class="btn btn-primary">Jun</button>
		<button type="button" id="Oct" class="btn btn-primary">Oct</button>
	</div>
	<div class="btn-group-vertical" data-toggle="button">
		<button type="button" id="Mar" class="btn btn-primary">Mar</button>
		<button type="button" id="Jul" class="btn btn-primary">Jul</button>
		<button type="button" id="Nov" class="btn btn-primary">Nov</button>
	</div>
	<div class="btn-group-vertical" data-toggle="button">
		<button type="button" id="Apr" class="btn btn-primary">Apr</button>
		<button type="button" id="Aug" class="btn btn-primary">Aug</button>
		<button type="button" id="Dec" class="btn btn-primary">Dec</button>
	</div>
</div>
